Source: bunsen-conky
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13), help2man
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/BunsenLabs/bunsen-conky
Vcs-Git: https://github.com/BunsenLabs/bunsen-conky.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-conky

Package: bunsen-conky
Architecture: all
Depends: ${misc:Depends}, conky-all, jq, html2text
Recommends: bunsen-utilities, bunsen-pipemenus, ncal
Replaces: bunsen-configs (<< 13.3.5-1) bunsen-configs-lite (<< 13.3.5-1) bunsen-configs-base (<< 13.3.5-1)
Breaks: bunsen-configs (<< 13.3.5-1) bunsen-configs-lite (<< 13.3.5-1) bunsen-configs-base (<< 13.3.5-1)
Description: Conky configuration files and related scripts for BunsenLabs.
 A collection of conky configuration files, images and scripts which
 allow the setting up of a variety of interesting conky displays.
