Source: bunsen-conky
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 12), help2man
Standards-Version: 4.5.1
Homepage: https://github.com/BunsenLabs/bunsen-conky
Vcs-Git: https://github.com/BunsenLabs/bunsen-conky.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-conky

Package: bunsen-conky
Architecture: all
Depends: ${misc:Depends}, conky-all, jq
Recommends: bunsen-utilities, bunsen-pipemenus
Description: Conky configuration files and related scripts for BunsenLabs.
 A collection of conky configuration files, images and scripts which
 allow the setting up of a variety of interesting conky displays.
